*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
#container{
    width: 970px;
    min-height: 500px;
    margin: 0 auto;
    background-color: brown;
}
#header{
    min-height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
#header h1, #header h3, #intro_body{
    display: inline-block;
}
#header h1{
    font-family: cursive;
}
#header h3{
    margin-left: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#main_body{
    padding: 20px;
}
#introduction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#introduction img{
    width: 46%;
    vertical-align: top;
    border: 5px solid grey;
}
#intro_body{
    width: 50%;
    background-color: silver;
}
#intro_text{
    padding: 5px;
}
#intro_text p{
    margin-bottom: 10px;
}
#intro_body h3{
    background-image: linear-gradient(darkgrey, gray, darkgrey);
    margin-top: 0;
    padding: 5px;
    color:white;
}
#card_body{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 31%;
    background-color: silver;
    padding-bottom: 10px;
    display: inline-block;
}
.card p{
    margin-bottom: 30px;
    padding: 5px;
}
.card img{
    width: 100%;
}
.card h2, .card h3{
    color:white;
    padding: 5px;
    background-image: linear-gradient(darkgrey, gray, darkgrey);
}
.icons{
    padding: 10px;
}
.icons img{
    width: 16%;
    margin: 2px;
}
.link_button{
    display: block;
    margin: 0px auto;
    background-color: green;
    border-radius: 5px;
    color: white;
}