*{
    margin: 0;
    padding: 0;
    outline: 1px dotted red;
}


#container{
    width:970px;
    min-height: 400px;
    background-color: silver;
    margin: auto;
}
#header{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: ivory;
}
#intro{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#intro img{
    width: 300px;
    border: 5px solid grey;
}