/* *{
    outline: 1px dotted red;
    margin: 0px;
    padding: 0px;
} */

.wrapper{
    width: 970px;
    height: 1000px;
    background-color: aqua;
}

.header{
    width: 970px;
    height: 80px;
    background-color: lightgray;
}

.header h1{
    display: inline-block;
    margin: 16px;
}

.header h2{
    display: inline-block;
    margin-left: 400px;
}
.about_me{
    width: 970px;
    height: 290px;
    background-color: #4e3a42;
}

.about_me img{
    height: 260px;
    border: 5px solid gray; 
    color: gray;
    margin: 10px;
}

.about_text{
    height: 260px;
    width: 455px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.about_text h3{
    background-color: Gray;
    padding: 5px;
}

.about_text p{
    margin: 5px;
}

.projects{
    width: 970px;
    height: 700px;
    background-color: orange;
}

.column1{
    width: 300px;
    height: 700px;
    background-color: green;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.column1 h2{
    background-color: gray;
    padding: 5px;
}
.column1 img{
    height: 60px;
    width: 60px;
}
.logos img{
    height: 60px;
    width: 60px;
}

.column2{
    width: 300px;
    height: 700px;
    background-color: green;
    display: inline-block;
    margin: 10px;
}
.column2 h2{
    background-color: gray;
    padding: 5px;
}

.column3{
    width: 300px;
    height: 700px;
    background-color: green;
    display: inline-block;
    margin: 10px;
}
.column3 h2{
    background-color: gray;
    padding: 5px;
}
.footer{
    width: 970px;
    height: 70px;
    background-color: rebeccapurple;
    text-align: center;
    display: inline-block;
}
.footer img{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.footer p{
    display: inline-block;
}