/* 
    1. SELECTOR
    2. ATTRIUBTE
    3. PROPERTY
*/

*{
    margin: 0;
    padding: 0;
}
#container{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 50px;
    padding-right:50px;
    display: inline-block;
}
p{
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}